#title {
	font-size: 40px;
	font-weight: bold;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

#header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #d3d6da;
	height: 70px;
	width: calc(100% - 40px);
	padding-left: 20px;
	padding-right: 20px;
}

#headerButtons1, #headerButtons2{
	width: 105px;
}

#infoButton:hover, #headerButtons2:hover{
	cursor: pointer;
}

#headerButtons2 > button{
	font-size: 80;
	border-radius: 5px;	
}

#headerButtons2 > button:hover{
	cursor: pointer;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.row {
	display: flex;
	width:320px;	
}

.box {
	width: 62px;
	font-size: 2rem;
	height: 62px;
	border: 4px solid #d3d6da;
	margin: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight:bold;
}
.key {
	height: 58px;
	width: 48px;
	margin: 4px;
	padding: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
	border-radius: 4px;
	border: 0;
	background-color: #D6D6D6;
}
.keyboardRow {
	display: flex;
}
#keyboard {
	margin: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

#enter {
	width: 90px !important;
}

#back {
	width: 65px !important;
}

#solve {
  width: 80px !important;
}

/* message boxes */
.messageBox{
	display: none;
	position: fixed;
	left: 25%;
	top: 15%;
	width: 50%;
	background-color: white;
	border: 3px solid black;
	border-radius: 10px;
	box-shadow: 3px 3px 7px gray;
}

.messageBox h1 {
	text-align: center;
}

.messageBox p {
	text-align: center;
	font-size: 20px;
}

.messageBox > form > label {
	font-size: 20px;
}

#testButton{
	width: 70%;
	margin: 1%;
	padding: 10px;
	font-size: 30px;
	border-radius: 5px;	

	position: relative;
	left: 15%;
}

.okButton {
	width: 15%;
	margin: 4%;
	font-size: 30px;
	border-radius: 5px;	

	position: relative;
	left: 40%;
	
}

#buttons > div > button {
	height: 58px;
	margin: 4px 10px;
	padding: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	border-radius: 4px;
	border: 0;
	background-color: #D6D6D6;
}
#buttons > div{
	display: flex;
}
#buttons {
	margin: 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
